@import "reset";
@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

#topbar{
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.04);
    background: white;
    position: fixed;
    top:0;
    left:0;
    z-index: 50;

        
    @include topbar;

    .leftNav{
        padding-left: 10px;
        img{
            height: 22px;
        }
    }

    .middleNav{
        display: flex;
        align-items: center;
        
    }

    .searchBar{
        margin: 0px;
        padding-right: 130px;
        padding-left: 20px;
        font-size: $smll;
        color: $fadetext;  
        border: 1px solid #cccccc;
        border-radius: 8px 0px 0px 8px;
        padding-top: 6px;
        padding-bottom: 7px;
    }

    button{
        background: #39CDCC;
        border: 5px solid  #39CDCC;
        border-radius: 0px 8px 8px 0px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        
        img{
            height: 10px;
        }
    }

    .smallIcons{
        height: 10px;
    }

    .rightNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        @include rightbar;
        a{
            text-decoration: none;
        }
    }

    a{
        text-decoration: none;
    }

   
}



#sidebar{
    .sidebarContainer{        
        position: fixed;
        top: 0;        
        min-height: 100%;
        box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.04);
        z-index: 200;
        left: -2000px;


        @media(min-width: 900px){
            top: 56.67px;
            left: 0;
            z-index: initial;
        }

    }
    display: flex;
    .leftbar{
        width: 170px;
        padding-bottom: 25px;
        padding: 1em;
    }
    .switch{
        display: flex;
        align-items: center;
        padding:15px 0;
    }

   .userDashboard{
    @include sidebarList;
   }

    


    
    .customers{
        font-size: $xsmll;
        color: rgb(179, 179, 179);
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 10px;
        cursor: pointer;
    }

    .Loans{
        margin: 0px;
        padding-left: 11px;
        color: $fadetext;
        &:hover{
            color: #213F7D;
        }
    }

    .logout{
        margin-top: 2px;
        padding-top: 10px;
        font-weight: bold;
    }

    .version{
        font-size: $smll;
        color: $fadetext;
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
    }


    .userContent{
        width: 100%;
        padding: 1em;


        @media(min-width:700px){
            position: relative;
            left: 192px;
            top:54.67px;
            width: calc(100% - 192px);
            padding: 1em 2em;
            box-sizing: border-box;
        
        }

    }

    .topContent{

    }

    .backDetails{
        @include backDetails;
    }

    .userDetails{
        width: 100%;
        padding: 8px;
        align-items: center;
        @include userDetails;
    }

    .userProfile{
        width: 100%;
        box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.04);
        padding-top: 30px;
        @include userProfile;
    }

    .detailedInfo{
        @include detailedInfo;

        @media(min-width: 700px){
            padding: 1em;
        }

        @media(min-width: 700px){
            padding: 20px;
        }
    
        @media(min-width: 900px){
            padding: 30px;
        }


    }



    .userInfo{
        margin-top: 20px;
        box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.04);
    }

    


   
}



.alignC{
    display: flex;
    align-items: center;
}

.alignT{
    display: flex;
    align-items: flex-start;
}

.alignB{
    display: flex;
    align-items: flex-end;
}

.flexS{
    display: flex;
    justify-content: flex-start;
}

.flexC{
    display: flex;
    justify-content:center
}

.flex{
    display: flex;
}

.flexE{
    display: flex;
    justify-content: flex-end;
}

.colMobile{
    flex-direction: column;

    @media(min-width: 700px){
        flex-direction: row;
    }
}

.alignCRes{
    display: flex;
    align-items: center;

    @media(min-width: 700px){
        align-items: initial;

    }
}


.fullH{
    height: 100%;
}

.gap1{
    gap:1em;
}

.gap1Res{
    gap:1em;

    @media(min-width: 700px){
        gap:initial;

    }
}

.gap2{
    gap:1.5em;
}


.toastContainer{
    display:flex;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}


.ml1{
    margin-left: 0.5em;
}

.ml2{
    margin-left: 0.8em;
}

